body{
	margin:0px;
	padding:0px;
	background-image: url("img/test6.jpg");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


#map{
	max-width:1200px;
	min-width: 280px; 
	height:600px;
	min-height:450px;
	margin:40px auto 0px auto;
}

nav{
	margin:0px;
	padding:0px;

}

.navbar-brand{
    background: url(img/favicon.png) no-repeat;
    background-size: 57% auto;
    background-position: center; 

}
