body{
	margin:0px;
	padding:0px;
	background-image: url("img/test8.jpg");
    background-position: center top;
    background-size: 100% 120%;
    background-repeat: no-repeat;
}


#map{
	max-width:1200px;
	min-width: 280px; 
	height:550px;
	min-height:550px;
	margin:20px auto 0px auto;
	
}

nav{
	margin:0px;
	padding:0px;

}

.navbar-brand{
    background: url(img/favicon.png) no-repeat;
    background-size: 57% auto;
    background-position: center; 

}

#Event_DdM{
	margin:35px 0px 0px 0px;
}
