body{
	margin:0px;
	padding:0px;
	background-image: url("img/phone.png");
    background-position: center top;
    background-repeat: no-repeat;
    position:0px auto;
}

#map{
	margin:40px 0px 0px 165px;
	width:1050px; 
	height:530px;
}


#speedDiv{
	margin:36px 0px 0px 600px ; 
	position:center;
	font-size:30px;
	width:500px;
	height:20px;

}

#speed{
	font-size:25px;
}

