body{
	margin:0px;
	padding:0px;
	background-image: url("img/phone.png");
    background-position: center top;
    background-repeat: no-repeat;
    min-width:80%;
}

#map{
	margin:2% 11% auto auto;
	max-width:1050px; 
	min-width:1000px;
	max-height:700px;
	min-height:520px;
	background-size: 100% auto;
}

	margin:40px 0px 0px 165px;
	width:1050px; 
	height:530px;



