body{
	margin:0px;
	padding:0px;
	background-image: url("img/test.jpg")
}


nav{
	margin:0px;
	padding:0px;

}

.nav navbar-nav navbar-right{
	
}


ul{
	list-style:outside none none;
}

#insert_table{
	text-align: center;
	margin:50px auto;
	max-width:500px;
	min-width:200px;
}

.info{
	font-size:20px;
	font-family:"微軟正黑體";
}

#search{
	text-align: center;
	margin:50px auto;
	max-width:500px;
	min-width:200px;

}

#authorize-div{
	font-size:25px;
	background:white;
	border-color:#0000FF;
	border:3px;
	border-style:inset;
	min-width:300px;
	max-width:500px;
	max-height:500px;
	min-height:300px;
	text-align: center;
	margin:70px auto 0px auto;
	bottom: 0px;             
	box-sizing: border-box;
}

#Insert_Delete{
	padding:0px;
	margin:auto;
	bottom-top: -100px;


}


#authorize-div {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;
}

#Event_header {
    /* 設定header的高度 */
    height: 15px;
    box-sizing: border-box;
}


#Event_content {
    /* 留出header及footer區塊的空間 */

    padding-bottom: 50px;
    height: 400px;
}


#Event_footer{
    /* 設定footer的高度 */
    height: 50px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: relative;
    bottom: 50px;
    /* 展開footer寬度 */
    width: 100%;
}

hr {
    display: block;
    height: 3px;
    border: 2;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}




