body{
	margin:50px;
	
}

ul{
	list-style:outside none none;
}
#head{
	text-align: center;
	margin:50px auto;
	
}

.info{
	font-size:20px;
	font-family:"微軟正黑體";
}

#login{
	margin:200px auto;
	background-color: white;
	text-align: center;


}

#loginBg{
	background-color:#ccc;
	
}

div{
	text-align: center;


}



#login_info{
	font-size:40px;
	font-weight:bolder;
	font-family:"微軟正黑體";
	text-align: center;
	min-width:30%

	height:50px;


}

body{
	margin:0;
    padding:0;
	background: url(img/bg.jpg) center center fixed no-repeat;
    background-color:#ccc;
    opacity:0.88;

}

#header{
	background-color: blue;
	font-size:50px;
	text-align: left;
}




.welcome{
	width:200px;
	font-size:40px;
	background-color: black;
	float:clear;
	color:white;

}




.container-fluid{

	background:white;
	width:50%;
	margin:100px auto;
	border-radius：10px;
	border:2px;
	max-width:100%;
	float:clear;
	min-width:350px;
	min-height:100px;
}

.img-responsive{
	display:block;
	margin:auto;
}

#icon{
	float:right;
	margin:none;
	display:block;
	margin:auto;
	position:right;



}






